.introduction-section {
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.services-header {
    font-size: 2.25rem;
    font-weight: 700;
}

.services-paragraph {
    font-size: 1rem;
    color: var(--light-gray);
}